<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Intuitive Web Solutions</title>
  <meta name="description" content="What is this?">
  <meta name="author" content="Who?">
  <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="container" style="width:700px">
<div id="header" style="background-color:#708090;">
<h1 style="margin-bottom:0;">Intuitive Web Solutions Project</h1></div>

<div id="content" style="background-color:#EEEEEE;height:200px;width:700px;float:left;">

<p>Please enter the Policy number and date.</p>
<form action="/policy" method="post">
<input type="number" name="policynumber"></input>
<input type="submit" value="Policy Number"></input>
<input type="date" name="policydate"></input>
<input type="submit" value="Policy Date"></input>
</form> 
</div>

</body>
</html>
